@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility content {
  @apply mx-auto my-10 lg:max-w-5xl;
}

@utility page-title {
  @apply text-3xl font-bold;
}

@utility form-input {
  @apply py-2 px-3 bg-gray-950 placeholder:text-gray-300;
}

@utility form-button {
  @apply py-2 px-4 bg-gray-200 text-gray-900 border-2 cursor-pointer hover:bg-gray-950 hover:text-gray-200 hover:border-gray-200;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
